*, li, ul, ol, p, h1, h2, h3, h4, h5, h6 {
    margin: unset;
    padding: unset;
}

body {
    // background-color: #f4f4f4;
}

* {
    font-family: "Pragati Narrow";
}

a {
    text-decoration: none;
    color: unset;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Prata";
}

#container {
    width: 100%;
    & .nav {
        text-align: center;
        width: 100%;
        &_logo {
            margin-top: 50px;
            margin-bottom: 25px;
        }
        &_ul {
            list-style-type: none;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
        }
        &_li {
            text-transform: uppercase;
            width: 60px;
            font-size: 1.1em;
        }
    }
    & .hero {
        text-align: center;
        &_image {
            &-img {
                width: 100%;
            }
        }
        &_text {
            width: 95%;
            margin: auto;
            &-header {
                margin-top: -50px;
                font-size: 2.25em;
                line-height: 47.5px;
            }
            &-sub {
                font-size: 1.55em;
                margin-top: 12.5px;
                margin-bottom: 60px;
            }
        }
    }
    & .content {
        width: 90%;
        margin: auto;
    }
    & .work {
        &_box {
            position: relative;
            // height: 450px !important;
            padding: 40px;
            background-color: white;
            margin-top: 25px;
            margin-bottom: 25px;
            box-shadow: 0 0 30px rgba(0,0,0, .05);
            display: block;
            &-image {
                width: 100%;
                position: absolute;
                left: 0;
                bottom: 0;
            }
            &-text {
                position: relative;
                z-index: 3;
                &-header {
                    font-family: "Pragati Narrow";
                    font-size: 2em;
                }
                &-sub {
                    font-size: 1.2em;
                    margin-bottom: 5px;
                    color: #555;
                }
            }
            & .bottom_text {
                position: absolute;
                bottom: 40px;
                right: 40px;
                font-size: 1.25em;
                display: flex;
            }
        }
    }
    & .contact {
        text-align: center;
        margin-top: 60px;
        margin-bottom: 60px;
        &_text {
            &-sub {
                font-size: 1.25em;
                margin: 25px;
            }
        }
    }
}

.undo_margin {
    margin-top: 10px !important;
}

.images_width {
    width: 100%;
}

.td_logo {
    width: 75%;
    display: block;
    margin: auto;
    margin-top: 40px;
}

.arrow_box {
    display: flex;
    justify-content: space-between;
}

#container.about_contain {
    & .content {
        margin-top: 70px;
        &_about {
            // width: 90%;
            // margin: auto;
        }
    }
    & .work_box-text-sub {
        color: unset;
        margin-bottom: 25px;
    }
}

#container.casestudy {
    & .hero {
        &_text {
            &-sub {
                margin-top: -5px;
                margin-bottom: unset;
            }
            &-quote {
                margin: 40px 0;
                margin-bottom: 75px;
            }
        }
    }
    & .content {
        font-family: "Pragati Narrow";
        & .casecontain {
            &_label {
                font-family: "Pragati Narrow";
                font-weight: unset;
            }
            &_section {
                font-family: "Pragati Narrow";
                margin-bottom: 12.5px;
            }
            &_para {
                font-size: 1.25em;
            }
            &_ol {
                &-mar {
                    margin-top: 30px;
                }
            }
            &_li {
                font-size: 1.25em;
                margin: 25px 0 25px 50px;
            }
        }
    }
    & .projects {
        margin-top: 100px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        &_text {
            &-sub {
                text-transform: uppercase;
            }
            &-main {
                font-size: 1.25em;
                font-weight: bold;
            }
        }
        &_right {
            text-align: right;
        }
    }
    & .backtop {
        text-align: center;
        margin-top: 50px;
        font-size: 1.25em;
        &_contain {
            position: relative;
            display: inline-block;
            cursor: pointer;
            &:hover .top_arrow {
                top: -15px;
                transition: all .2s ease-in-out;
            }
        }
    }
}

.work_img {
    width: 100%;
    margin-top: 30px;
    vertical-align: top;
}

.top_arrow {
    width: 25px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: -10px;
    transition: all .2s ease-in-out;
}

.row {
    margin: 50px 0;
}

.end_quote {
    font-weight: bold;
}

.image {
    width: 100%;
    height: 300px;
    background-color: white;
}

.image_margin {
    margin-bottom: 30px;
}

.image_margin-top {
    margin-top: 30px;
}

.divider {
    height: 2px;
    background-color: #323232;
    margin: 12.5px 0;
}

.case_divide {
    margin: unset;
    height: 1px;
}

.long {
    margin-top: 75px;
}

.short {
    width: 85%;
}

.case_arrow {
    width: 35px;
    margin-top: -5px;
    padding-right: 15px;
    transition: all .3s ease-in-out;
}

.case_lock {
    width: 30px;
    height: 30px;
    margin-top: 0px;
}

.case_hero {
    width: 90%;
    margin-top: 30px;
    margin-bottom: 30px;
}

// .case_arrow:hover {
//     padding-right: 5px;
// }

.link {
    width: 100%;
    height: 100%;
}

.work_box:hover .case_arrow {
    transition: all .3s ease-in-out;
    padding-right: 4px;
}

@media only screen and (min-width: 500px) {
    #container {
        & .nav {
            width: 483px;
            margin: auto;
        }
        & .hero_image-img {
            width: 483px;
        }
        & .work_box {
            width: 354px;
            margin: auto;
            margin-top: 25px;
            margin-bottom: 25px;
        }
    }
}

@media only screen and (min-width: 532px) {
    #container {
        & .contact_text-sub {
            width: 413.5px;
            margin: auto;
            margin-top: 25px;
            margin-bottom: 25px;
        }
    }
}

@media only screen and (min-width: 687px) {
    #container {
        & .nav {
            width: 483px;
            margin: auto;
        }
        & .hero_text {
            width: 636.5px;
        }
    }
    .case_hero {
        margin: auto;
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

@media only screen and (min-width: 725px) {
    #container {
        .content_about {
            width: 637px;
            margin: auto;
        }
    }
}

@media only screen and (min-width: 795px) {
    #container.casestudy {
        & .content {
            width: 700px;
            margin: auto;
        }
    }
    .case_hero {
        width: 700px;
    }
}

@media only screen and (min-width: 910px) {
    #container {
        & .work {
            display: flex;
            flex-wrap: wrap;
        }
        & .work_box {
            vertical-align: top;
            display: inline-block;
            box-sizing: border-box;
            width: 49%;
            width: 375px;
            margin-bottom: unset;
            // height: 480px !important;
            &-left {
                margin-right: 1%;
            }
            &-right {
                margin-left: 1%;
            }
            & .unset_top-margin {
                margin-top: unset;
            }
        }
    }
}

@media only screen and (min-width: 1010px) {
    // #container.casestudy {
    //     & .content {
    //         width: 893px;
    //         margin: auto;
    //     }
    // }

    .work_img {
        margin-top: 30px;
    }
}

@media only screen and (min-width: 1306px) {
    #container {
        & .content {
            width: 1160px;
        }
        & .work {
            justify-content: space-between;
        }
        & .work_box {
            margin: unset;
        }
        & .last_box {
            margin-top: 25px;
        }
    }
}